* {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

.titre-fancy {
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "MORF" 15,
        "SHLN" 50;
}

body {
    margin: 0;
    background-color: #DDD8C4;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

header div {
    width: 350px;
    height: 100px;
    background-color: #69A297;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    color: #fff;
}

header div a {
    color: #fff;
    text-decoration: none;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.info-container {
    min-height: 500px;
    min-width: 500px;
    background-color: #50808E;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-container h1 {
    font-size: 3rem;
}

.info-container p {
    color: #fff;
}

.btn-sae {
    color: #fff;
    text-decoration: none;
}

.btn-sae {
    margin-top: auto;
    padding: 25px;
    margin-bottom: 5%;
    background-color: #84B59F;
    border-radius: 50px;
    transition: transform .4s;
    box-shadow: 8px 8px 5px #A3C9A8;
}

.btn-sae:hover {
    transform: scale(1.2);
}

section.sae {
    min-height: 100vh;
    max-width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

div.container-sae {
    background-color: #A93F55;
    padding: 30px;
    margin: 60px;
    border-radius: 20px;
    box-shadow: 8px 8px 5px #711d21;
    color: #fff;
    white-space: normal;
    overflow-wrap: break-word;
    min-height: 250px;
    display: flex;
    flex-direction: column;
}

div.ligne-bottom {
    display: flex;
    flex-direction: row;
}

.plus-btn {
    color: #fff;
    background-color: #84B59F;
    text-decoration: none;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    transition: .4s;
}

.plus-btn:hover {
    background-color: #EF767A;
    text-decoration: underline;
}