* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #fff;
}

body {
    margin: 0;
    background-color: #343A40;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.return {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    background-color: #6C757D;
    transition: .4s;
}

.return:hover {
    background-color: #343A40;
    text-decoration: underline;
}

div.container {
    display: flex;
    flex-direction: column;
    padding: 60px;
    border: #fff solid 1px;
    border-radius: 10px;
    width: 80vw;
}

main {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.ac-btn {
    text-decoration: none;
}

.ac-btn:hover {
    text-decoration: underline;
}

.underline {
    text-decoration: underline;
}

body {
    animation: fondu 1.5s linear;
}

@keyframes fondu {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}